.contact-hero {
    height: 100vh;
    .content-container {
     width: auto;
      position: relative;
      align-items: center;
      justify-content: center;
     gap: 2em;
      height: 100vh;
  
      
      .text-container {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-direction: column;
        position: absolute;
        bottom: 4em;
      }
    }
  }
  .email {
    
    color: $neutral-01;
    border-bottom: 1px solid $neutral-03;
    transition: $transition;
    
    h1 {
      
      margin-bottom: 0.25em;
    }
  }

  @media only screen and (max-width: 700px) {
   .contact-hero {
    .content-container {
      .text-container {
        bottom: 0;
      }
    }
   }
  }