.contact-hero {
  height: 100vh;
  .content-container {
    width: auto;
    margin: 0;
    height: 100%;
    padding: 7.5em;
    position: relative;
    align-items: center;

    gap: 2em;

    .email-container {
      height: 100%;

      .h1 {
        @include h1();
        font-weight: 400;
      }
    }

    .btn-link {
      display: inline-block;
      &::before {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: $neutral-03;
        bottom: -2px;
        transform: scale(1, 1);
      }
    }
  }
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 1128px) {
  .contact-hero {
    .content-container {
      .email-item-container {
        .h1 {
          @include h2();
          font-weight: 400;
        }
      }
    }
  }
}

@media only screen and (max-width: 912px) {
  .contact-hero {
    .content-container {
      padding: 5em 1.5em;
      gap: 5em;
      .email-item-container {
        display: block;
        .btn-link {
          .h1 {
            @include h2();
            font-weight: 400;
          }
          margin-bottom: 2em;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .contact-hero {
    .content-container {
      .email-item-container {
        .btn-link {
          .h1 {
            @include h3();
            font-weight: 400;
          }
        }
      }
      .social-item-container {
        align-items: start;
        flex-direction: column;
      }
    }
  }
}
