  .work-hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
    .content-container {
      padding: 5em 2em;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      height: 100vh;
      .hero-showcase {
        width: 100%;
        display: flex;
        gap: 2em;
      }
    }
  }

//////// Responsive Mobile ////////

  @media only screen and (max-width: 700px) {
    .work-hero {
      justify-content: flex-start;
      .content-container {
        flex-direction: column;
        justify-content: start;
        height: auto;
        .hero-showcase {
          flex-direction: column;
        }
      }
    }
 
    .content-container {
      padding: 1.5em;
    }
  }
  