.work-hero,
.showcase-section {
  background: transparent;
}
.work-hero {
  width: 100vw;
  height: 100vh;

  .content-container {
    padding: 7.5em;
    width: 100%;

    h1 {
      position: relative;
    }
    .icon {
      margin-bottom: 0.5em;
    }
    .about-text {
      padding-top: 10em;
      border-top: $border;
    }
  }
}

.showcase-section {
  margin-bottom: 28em;
  .content-container {
    padding: 7.5em 7.5em 10em 7.5em;

    h1 {
      position: relative;
    }
    .icon {
      margin-bottom: 0.5em;
    }
    .about-text {
      padding-top: 10em;
      border-top: $border;
    }
  }
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 912px) {
  .work-hero,
  .showcase-section {
    .content-container {
      padding: 5em 1.5em;
      gap: 5em;
      .heading-container {
        flex-direction: column;
      }
      .icon {
        display: none;
      }
      .case-container {
        gap: 5em;
      }
    }
  }

  .showcase-section {
    margin-bottom: 34em;
  }
}
