.case-hero {
  display: flex;
  .content-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .hero-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      align-items: center;
    }
    .hero-img-container {
      height: 100%;
      position: relative;
      .img {
        object-fit: cover;
      }
    }
    
  }
}

.case-about {
  display: flex;
  .content-container {
    padding: 11.25em 0;
    width: 100%;
    display: flex;
    gap: 11.25em;
    flex-direction: column;
    align-items: center;
    .img-container {
      display: flex;
      flex-direction: column;
      gap: 2em;
      .img-wrapper {
        width: 56em;
        aspect-ratio: 4/3;
        position: relative;
        .img {
          object-fit: cover;
        }
      }
    }
  }
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 700px) {
  .case-hero {
    .content-container {
      .title-container,
      .text-container {
        width: 100%;
      }
      .title-container {
        .client-name {
          width: auto;
        }
      }
      .text-container {
        flex-direction: column;
      }
      .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
      .footer {
        width: 100%;
      }
    }
  }
}
