.case-hero {
  margin-bottom: 28em;
  .content-container {
    padding: 10em 7.5em;
    width: 100%;

    .detail-item-container {
      width: 100%;
    }

   .cover-container {
    position: relative;
    .cover-img {
      width: 100%;
      aspect-ratio: 1200/1024;
      position: relative;
    }

    .img-screen {
      width: 99.5%;
      position: absolute;
      top: .25em;
      left: .25em;
      aspect-ratio: 1184/740;
      border-radius: .5em;
      
    }
   }
  }
  .cta {
    .btn-link {
      @include h1();
      display: inline-block;
      &::before {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: $neutral-03;
        bottom: -2px;
        transform: scale(1, 1);
      }
    }
  }
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 912px) {
  .case-hero {
    width: auto;
    margin-bottom: 32em;
    .content-container {
      padding: 5em 1.5em;
      gap: 5em;

      .case-detail {
        flex-direction: column;
        gap: 2.5em;
      }

      .cta {
        .btn-link {
          @include h2();
        }
        .icon {
          width: 2em;
        }
      }
    }
  }
}
