

.case-hero {
  
  display: flex;
  .content-container {
    background-color: $neutral-01;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .hero-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      align-items: center;
      .text-wrapper-h1 {
        width: 100%;
        height: 5em;
      
        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
      }
      .text-wrapper-h3 {
        width: 100%;
        height: 1.5em;
      
        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
      }
    }
    .hero-img-wrapper {
   
      display: flex;
      align-items: flex-end;
      
      .hero-img {
        width: 56em;
        aspect-ratio: 3/1.5;
        position: relative;
        overflow: hidden;
        .img-wrapper {
          width: 100%;
          height: 100%;
          position: relative;
  
          .img {
            object-fit: cover;
          }
        }
      }
     }
  }
}

.case-about {
 
  display: flex;
  .content-container {
    background-color: $neutral-01;
    
    padding: 11.25em 0;
    width: 100%;
    display: flex;
    gap: 11.25em;
    flex-direction: column;
    align-items: center;
    .img-container {
      width: 56em;
      display: flex;
      flex-direction: column;
      gap: 2em;
      .img-wrapper {
        width: 100%;
        aspect-ratio: 4/3;
        position: relative;
        overflow: hidden;
        .img {
          object-fit: cover;
        }
      }
    }
  }
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 786px) {
  .case-hero {
    display: block;
    .content-container {
      width: auto;
     .hero-img-wrapper {
      .hero-img {
        width: 100vw;
        aspect-ratio: 1/1;
      }
     }
    }
  }

 
  .case-about {
    .content-container{
      padding: 8em 1.5em;
     .img-container {
      width: 100%;
     }
    }
  }

  .text-container {
    width: 100%;
    flex-direction: column;
    .content {
      width: 100%;
    }
  }
}
