//////// Button ////////

.btn-primary {
  @include paragraph;
  padding: 2.5em;
  background-color: $neutral-07;
  border-radius: $border-radius;
  transition: $transition;
  cursor: pointer;
  transform: skew(0, 0);
  h3 {
    color: $neutral-01;
  }

  &:hover {
    background-color: $neutral-06;
    transform: skew(1.2deg, 1.2deg);
  }
}

.btn-scroll {
  position: fixed;
  bottom: 2em;
  right: 2em;

  .btn-icon {
    background: rgba(111, 111, 111, 0.4);
    .icon {
      transform: rotate(180deg);
    }
    &:hover {
      background: rgba(111, 111, 111, 0.7);
    }
  }
}

.btn-icon {
  transition: $transition;
  width: 2em;
  aspect-ratio: 1/1;
  background-color: $neutral-02;
  border-radius: 10em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $neutral-03;
  }
}

.btn-link {
  @include paragraph();
  color: $neutral-05;
  display: block;
  align-items: center;
  transition: $transition;
  cursor: pointer;
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: $neutral-08;
    bottom: -2px;
    transform: scale(0, 1);
    transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transform-origin: right top;
  }

  &:hover {
    color: $neutral-08;
    &::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}

.btn-link-white {
  &::after {
    background: $neutral-01;
  }

  &:hover {
    color: $neutral-01;
  }
}

//////////////// Scrollbar ////////////////////////////////////////////@at-root

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(111, 111, 111, 0.4);
  transition: $transition;
  border-radius: 1em;
  &:hover {
    background: rgba(111, 111, 111, 0.7);
  }
}

//////////////////////////////////////////////////////////////////////////////////

.of-hidden {
  overflow: hidden;
}

.line {
  width: 100%;
  height: 1px;
  background: $neutral-03;
}

.size-fhd {
  aspect-ratio: 1920/1080;
}

.size-mid {
  aspect-ratio: 800/600;
}

.img-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;

  .img {
    object-fit: cover;
  }
}

.pages-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $neutral-02;
  z-index: 5;
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 912px) {
}
