//////// Button ////////


.btn-primary {
  @include paragraph;
  padding: 1em 2em;
  border: none;
  background-color: $neutral-02;
  border-radius: 100em;
  transition: background-color ease 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;

  &:hover {
    background-color: $neutral-03;
  }
}

.btn-icon {
  transition: $transition;
  width: 2em;
  aspect-ratio: 1/1;
  background-color: $neutral-02;
  border-radius: 10em;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $neutral-03;
  }
}

.btn-link {
  @include paragraph();
  color: $neutral-05;
  display: block;
  align-items: center;
  transition: $transition;
  cursor: pointer;
  position: relative;
  
  
  &::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background:$neutral-08;
  bottom: -2px;
  transform: scale(0, 1);
  transition: transform 0.3s;
  transform-origin: right top;
  }

  &:hover {
    color: $neutral-08;
    &::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}



.pages-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $neutral-02;
  z-index: 5;
}
