nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;

  .nav-container {
    height: 6em;
    padding:  0 7.5em;

    .toggle-menu {
      display: none;
    }

   .logo-container {
    .logo {
      transition: $transition;
      span {
        @include paragraph();
        transition: $transition;
        font-weight: 700;
        font-size: 0.6em;
      }
     
    }
    &:hover {
     h2, span {
      color: $neutral-05;
     }
    }
   }
   
  }
}


//////// Responsive Mobile ////////

@media only screen and (max-width: 912px) {
  nav {
    
    .nav-container {
      padding: 0 1.5em;
      height: 4em;

      .nav-item-container {
        gap: 1.5em;
      }
     
      
    }
  }
}
