.preview-modal {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  display: flex;
  .btn-icon {
    position: absolute;
    right: 2em;
    top: -3em;
  }
}

.overlay-wrapper {
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
  background: rgba(42, 31, 9, 0.56);
  transition: $transition-custom;
 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
 
}

.content-container {
  background: $neutral-01;
  align-items: flex-start;
  width: 100%;
  gap: 5em;
  padding: 3em;


  }
  


.ReactModal__Content {
    
    transition: $transition-custom;
    transform: translateY(100%);
    .overlay-wrapper, .btn-icon {
        opacity: 0;
    }
    
}

.ReactModal__Content--after-open{
    transform: translateY(0%);
    .overlay-wrapper,.btn-icon {
        opacity: 1;
    }
}

.ReactModal__Content--before-close{
    transform: translateY(100%);
    .overlay-wrapper, .btn-icon {
        opacity: 0;
    }
}

