//////// Button ////////

.btn-primary {
  @include paragraph;
  padding: 1em 2em;
  border: none;
  background-color: $neutral-07;
  border-radius: 100em;
  transition: background-color ease 200ms;

  &:hover {
    background-color: $neutral-06;
  }
}

.btn-icon {
  @include paragraph;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-08;
  width: 2.75em;
  height: 2.75em;
  border: 1px solid $neutral-07;
  border-radius: 100em;
  transition: border ease 200ms;

  &:hover {
    border: 1px solid $neutral-01;
  }

  .icon {
    margin: 0;
  }
}

.btn-link {
  @include paragraph();
  display: flex;
  gap: 0.5em;
  align-items: center;
  border-bottom: 1px solid $neutral-08;
  transition: all ease 200ms;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $neutral-01;
  }
}

//////// Navigation Bar ////////

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $neutral-08 24%;
  backdrop-filter: blur(48px);
  z-index: 1;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 4em;

    .logo {
      span {
        @include caption();
        font-size: 0.5em;
      }
      cursor: pointer;
    }

    .nav-item-container {
      display: flex;
      gap: 2em;

      .nav-item {
        @include caption();
        text-decoration: none;
        color: $neutral-05;
        transition: color ease 100ms;

        &:hover {
          color: $neutral-01;
        }
      }
    }
  }
}

//////// Client Card ////////

.client-card {
  width: 100%;
  background-color: $neutral-07;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  transition: all ease 200ms;

  .client-video {
    width: 100%;
    padding: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .video {
      background-color: $neutral-05;
      width: 70%;
      aspect-ratio: 1440/900;
      transition: all ease 200ms;
    }
  }
  .client-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      transition: all ease 200ms;
    }

    .info {
      display: flex;
      gap: 1em;
      
    }
  }

  &:hover {
    background-color: $neutral-06;
    .client-video {
      .video {
        transform: scale(1.055);
      }
    }
    .client-detail {
      p {
        color: $neutral-01;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  nav {
    .nav-container {
      padding: 0 1.5em;
      .nav-item-container {
        gap: 1.5em;
      }
    }
  }
  .client-card {
    width: 91%;
  }
}
