//////// Button ////////

.btn-primary {
  @include paragraph;
  padding: 1em 2em;
  border: none;
  background-color: $neutral-07;
  border-radius: 100em;
  transition: background-color ease 200ms;

  &:hover {
    background-color: $neutral-06;
  }
}

.btn-icon {
  transition: $transition;
  padding: 0.8em;
  background-color: $neutral-07;
  border: 1px solid $neutral-06;
  border-radius: 100em;
  .icon {
    width: 0.75em;
    height: 0.75em;
  }
  &:hover {
    background-color: $neutral-06;
  }
}

.btn-link {
  @include paragraph();
  display: block;
  align-items: center;
  transition: $transition;
  cursor: pointer;
  &::after {
    content: '';
    width: 0;
    display: block;
    height: 1px;
    background-color: $neutral-01;
    transition: $transition;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

//////// Image & Icons ////////@at-root
.img-lg {
  width: 40em;
  aspect-ratio: 4/3;
}



.img1-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img2-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img3-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img4-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}

.img5-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img6-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img1-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img2-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img3-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img4-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}

.img5-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img6-case1 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}


.img1-case2 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img2-case2 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img3-case2 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img4-case2 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}

.img5-case2 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}
.img6-case2 {
  background: url(../assets/img/showcase-1.png) center;
  background-size: cover;
}


.img1-case3 {
  background: url(../assets/img/showcase-1.png);
  background-size: cover;
}
.img2-case3 {
  background: url(../assets/img/showcase-1.png);
  background-size: cover;
}
.img3-case3 {
  background: url(../assets/img/showcase-1.png);
  background-size: cover;
}
.img4-case3 {
  background: url(../assets/img/showcase-1.png);
  background-size: cover;
}

.img5-case3 {
  background: url(../assets/img/showcase-1.png);
  background-size: cover;
}
.img6-case3 {
  background: url(../assets/img/showcase-1.png);
  background-size: cover;
}



/////////////////////////////////////////////////////

.i-arrow-right-up {
  background: url(../assets/icon/arrow-right-up.svg) center;
}

.i-close {
  background: url(../assets/icon/close.svg) center;
}

//////// Navigation Bar ////////

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $neutral-08 16%;
  backdrop-filter: blur(48px);
  z-index: 1;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 4em;

    .logo {
      span {
        @include caption();
        font-size: 0.5em;
      }
      cursor: pointer;
    }
    .logo-container {
      width: 100%;
      display: flex;
      justify-content: left;
    }
    .nav-item-container {
      display: flex;
      justify-content: center;
      gap: 2em;
      width: 100%;
    }

    .contact-container {
      width: 100%;
      display: flex;
      justify-content: right;
    }

    .nav-item {
      @include caption();
      text-decoration: none;
      color: $neutral-05;
      transition: $transition;

      &:hover {
        color: $neutral-01;
      }
    }
  }
}

//////// Client Card ////////

.client-card {
  width: 100%;
 
  .video-container {
    position: relative;
    background: $neutral-07;
    aspect-ratio: 1920/1080;
    transition: $transition;
    margin-bottom: 1em;
    overflow: hidden;
    align-items: center;
    display: flex;

    video {
      width: 100%;
    }
  }
  .client-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      transition: $transition;
    }

    .info {
      display: flex;
      gap: 1em;
    }
  }

  .btn-icon {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
  }

  &:hover {
    .client-detail {
      p {
        color: $neutral-01;
      }
    }
    .btn-icon {
      background-color: $neutral-01;
      border: 1px solid $neutral-01;
      .icon {
        background: url(../assets/icon/arrow-right-up--black.svg) center;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  nav {
    .nav-container {
      padding: 0 1.5em;
      .nav-item-container {
        gap: 1.5em;
      }
    }
  }
  .client-card {
    width: 100%;
  }
  .img-lg {
    width: 100%;
    aspect-ratio: 4/3;
  }
}
