//////// Button ////////

.btn-primary {
  @include paragraph;
  padding: 1em 2em;
  border: none;
  background-color: $neutral-07;
  border-radius: 100em;
  transition: background-color ease 200ms;

  &:hover {
    background-color: $neutral-06;
  }
}

.btn-icon {
  @include paragraph;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $neutral-08;
  width: 2.75em;
  height: 2.75em;
  border: 1px solid $neutral-07;
  border-radius: 100em;
  transition: border ease 200ms;

  &:hover {
    border: 1px solid $neutral-01;
  }

  .icon {
    margin: 0;
  }
}

.btn-link {
  @include paragraph();
  display: flex;
  gap: 0.5em;
  align-items: center;
  border-bottom: 1px solid $neutral-08;
  transition: $transition;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $neutral-01;
  }
}

//////// Navigation Bar ////////

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $neutral-08 16%;
  backdrop-filter: blur(48px);
  z-index: 1;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 4em;

    .logo {
      span {
        @include caption();
        font-size: 0.5em;
      }
      cursor: pointer;
    }
    .logo-container {
      width: 100%;
      display: flex;
      justify-content: left;
    }
    .nav-item-container {
      display: flex;
      justify-content: center;
      gap: 2em;
      width: 100%;
    }

    .contact-container {
      width: 100%;
      display: flex;
      justify-content: right;
    }

    .nav-item {
      @include caption();
      text-decoration: none;
      color: $neutral-05;
      transition: $transition;

      &:hover {
        color: $neutral-01;
      }
    }
  }
}

//////// Client Card ////////

.client-card {
  width: 100%;
  .video {
    position: relative;
    background-color: $neutral-07;
    aspect-ratio: 1440/900;
    transition: $transition;
    margin-bottom: 1em;
    .icon-container {
      transition: $transition;
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      padding: 0.8em;
      background-color: $neutral-07;
      border: 1px solid $neutral-06;
      border-radius: 100em;
      .icon {
        width: 0.75em;
        height: 0.75em;
        background: url(../assets/icon/arrow-right-up.svg) center;
      }
    }
  }
  .client-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      transition: $transition;
    }

    .info {
      display: flex;
      gap: 1em;
    }
  }

  &:hover {
    .client-detail {
      p {
        color: $neutral-01;
      }
    }
    .icon-container {
      background-color: $neutral-06;
    }
  }
}

@media only screen and (max-width: 414px) {
  nav {
    .nav-container {
      padding: 0 1.5em;
      .nav-item-container {
        gap: 1.5em;
      }
    }
  }
  .client-card {
    width: 100%;
  }
}
