///////// Home Page ////////@at-root
.content-container {
  display: flex;
  padding: 2em;
}

.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;

  .content-container {
    padding-top: 5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    height: 100vh;

    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5em;
      height: 100%;
    }

    .hero-showcase {
      width: 100%;
      display: flex;
      gap: 2em;
    }
  }
}

///////// About Page ////////@at-root

.about-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;

    .hero-img {
      background: url(https://res.cloudinary.com/dtwh4nrmh/image/upload/v1663436285/my-self_z9r4go.png)
        center;
      background-size: cover;
      width: 26em;
      aspect-ratio: 1/1;
    }

    .hero-text {
      width: 26em;
      h2,
      p {
        margin-bottom: 0.5em;
      }
    }
  }
}

//////// Waiting Page ////////@at-root

.waiting-hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
      margin-bottom: 0.5em;
    }
  }
}

//////// Contact Page ////////@at-root

.contact-hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  .content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .email {
      color: $neutral-01;

      border-bottom: 1px solid $neutral-06;
      transition: $transition;
      margin-bottom: 1.5em;
      h1 {
        margin-bottom: 0.25em;
      }

      &:hover {
        border-bottom: 1px solid $neutral-01;
      }
    }
    .contact-container {
      position: absolute;
      bottom: 2em;
      p {
        color: $neutral-05;
        margin-bottom: 1em;
        text-align: center;
      }

      .contact-btn {
        display: flex;
        gap: 1em;

        span {
          @include paragraph();
          cursor: pointer;
        }
      }
    }
  }
}

//////// Case Page ////////@at-root

.case-hero {
  display: flex;
  flex-direction: column;
  .content-container {
    padding-top: 5.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;

    .title-container {
      width: 40em;

      .client-name {
        width: 40em;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
      }
      .client-detail {
        display: flex;
        gap: 1em;
      }
    }

    .text-container {
      width: 40em;
      display: flex;
      gap: 2em;
      h2 {
        width: 22rem;
      }
      p {
        width: 100%;
      }
    }

    .footer {
      margin-bottom: 2em;
      width: 40em;
      display: flex;
      justify-content: space-between;
      .btn-container {
        display: flex;
        gap: 1em;
      }
    }
  }
}

//////// Responsive Mobile ////////

@media only screen and (max-width: 700px) {
  .home-hero {
    justify-content: flex-start;
    .content-container {
      flex-direction: column;
      justify-content: start;
      height: auto;
      .hero-showcase {
        flex-direction: column;
      }
    }
  }

  .about-hero {
    .content-container {
      align-items: flex-start;
      padding-top: 4.5em;
      flex-direction: column;
      .hero-text,
      .hero-img {
        width: 100%;
      }
    }
  }

  .case-hero {
    .content-container {
      .title-container,
      .text-container {
        width: 100%;
      }
      .text-container {
        flex-direction: column;
      }
      .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }

  .content-container {
    padding: 1.5em;
  }
}
