//////// Typeface ////////@at-root

@font-face {
  font-family: "uncut";
  src: url(../public/font/Uncut-Sans-Medium.otf);
  font-weight: 500;
}


@font-face {
  font-family: "uncut";
  src: url(../public/font/Uncut-Sans-Regular.otf);
  font-weight: 400;
}

//////// Color Style ////////@at-root

$neutral-08: #281E09;
$neutral-07: #443B29;
$neutral-06: #615949;
$neutral-05: #7E7769;
$neutral-04: #9B968A;
$neutral-03: #B8B4AA;
$neutral-02: #E6E3DC;
$neutral-01: #F3F1EC;

$transition: all ease 300ms;
$transition-custom: all cubic-bezier(.8,0,.16,1) 1s;

//////// Text Style ////////@at-root

@mixin h1 {
  font-family: "uncut", sans-serif;
  font-size: 4em;
  font-weight: 500;
  line-height: 125%;
  color: $neutral-08;
}

@mixin h2 {
  font-family: "uncut", sans-serif;
  font-size: 1.825em;
  font-weight: 500;
  line-height: 125%;
  color: $neutral-08;
}

@mixin h3 {
  font-family: "uncut", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 125%;
  color: $neutral-08;
}

@mixin paragraph {
  font-family: "uncut", sans-serif;
  font-size: 0.925em;
  font-weight: 500;
  line-height: 130%;
  color: $neutral-08;
}


//////// Container Style ////////@at-root

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $neutral-01;
}

section {
  padding: 0;
  margin: 0;
  width: 100%;
  
  .content-container {
    width: auto;
    display: flex;
    padding: 2em;
  }
}

h1 {
  @include h1();
  margin: 0;
}

h2 {
  @include h2();
  margin: 0;
}

h3 {
  @include h3();
  margin: 0;
}

p {
  @include paragraph();
  margin: 0;
}

.desc {
  color: $neutral-05;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 786px) {
  h1 {
    @include h2();
  }
}
